.currency-img {
  width: 38px;
  height: 38px;
  margin: 10px 11px; //margin-left: 11px;
}

.at {
  background: url('https://i.riostox.com/img/currency/at.png');
  background-size: 100% 100%;
}

.btc {
  background: url('https://i.riostox.com/img/currency/btc.png');
  background-size: 100% 100%;
}

.ltc {
  background: url('https://i.riostox.com/img/currency/ltc.png');
  background-size: 100% 100%;
}

.eth {
  background: url('https://i.riostox.com/img/currency/eth.png');
  background-size: 100% 100%;
}

.usdt {
  background: url('https://i.riostox.com/img/currency/usdt.png');
  background-size: 100% 100%;
}

.xrp {
  background: url('https://i.riostox.com/img/currency/xrp.png');
  background-size: 100% 100%;
}

.qtum {
  background: url('https://i.riostox.com/img/currency/qtum.png');
  background-size: 100% 100%;
}

.bch {
  background: url('https://i.riostox.com/img/currency/bcc.png');
  background-size: 100% 100%;
}

.eos {
  background: url('https://i.riostox.com/img/currency/eos.png');
  background-size: 100% 100%;
}

.abj {
  background: url('https://i.riostox.com/img/currency/abj.png');
  background-size: 100% 100%;
}

.fun {
  background: url('https://i.riostox.com/img/currency/fun.png');
  background-size: 100% 100%;
}

.abt {
  background: url('https://i.riostox.com/img/currency/abt.png');
  background-size: 100% 100%;
}

.act {
  background: url('https://i.riostox.com/img/currency/act.png');
  background-size: 100% 100%;
}

.ada {
  background: url('https://i.riostox.com/img/currency/ada.png');
  background-size: 100% 100%;
}

.adx {
  background: url('https://i.riostox.com/img/currency/adx.png');
  background-size: 100% 100%;
}

.ae {
  background: url('https://i.riostox.com/img/currency/ae.png');
  background-size: 100% 100%;
}

.agi {
  background: url('https://i.riostox.com/img/currency/agi.png');
  background-size: 100% 100%;
}

.aion {
  background: url('https://i.riostox.com/img/currency/aion.png');
  background-size: 100% 100%;
}

.ait {
  background: url('https://i.riostox.com/img/currency/ait.png');
  background-size: 100% 100%;
}

.amb {
  background: url('https://i.riostox.com/img/currency/amb.png');
  background-size: 100% 100%;
}

.ant {
  background: url('https://i.riostox.com/img/currency/ant.png');
  background-size: 100% 100%;
}

.aph {
  background: url('https://i.riostox.com/img/currency/aph.png');
  background-size: 100% 100%;
}

.appc {
  background: url('https://i.riostox.com/img/currency/appc.png');
  background-size: 100% 100%;
}

.ark {
  background: url('https://i.riostox.com/img/currency/ark.png');
  background-size: 100% 100%;
}

.ary {
  background: url('https://i.riostox.com/img/currency/ary.png');
  background-size: 100% 100%;
}

.ast {
  background: url('https://i.riostox.com/img/currency/ast.png');
  background-size: 100% 100%;
}

.auto {
  background: url('https://i.riostox.com/img/currency/auto.png');
  background-size: 100% 100%;
}

.axp {
  background: url('https://i.riostox.com/img/currency/axp.png');
  background-size: 100% 100%;
}

.b2b {
  background: url('https://i.riostox.com/img/currency/b2b.png');
  background-size: 100% 100%;
}

.bat {
  background: url('https://i.riostox.com/img/currency/bat.png');
  background-size: 100% 100%;
}

.bcd {
  background: url('https://i.riostox.com/img/currency/bcd.png');
  background-size: 100% 100%;
}

.bcn {
  background: url('https://i.riostox.com/img/currency/bcn.png');
  background-size: 100% 100%;
}

.bcx {
  background: url('https://i.riostox.com/img/currency/bcx.png');
  background-size: 100% 100%;
}

.bee {
  background: url('https://i.riostox.com/img/currency/bee.png');
  background-size: 100% 100%;
}

.bez {
  background: url('https://i.riostox.com/img/currency/bez.png');
  background-size: 100% 100%;
}

.bix {
  background: url('https://i.riostox.com/img/currency/bix.png');
  background-size: 100% 100%;
}

.blz {
  background: url('https://i.riostox.com/img/currency/blz.png');
  background-size: 100% 100%;
}

.bnb {
  background: url('https://i.riostox.com/img/currency/bnb.png');
  background-size: 100% 100%;
}

.bnt {
  background: url('https://i.riostox.com/img/currency/bnt.png');
  background-size: 100% 100%;
}

.bnty {
  background: url('https://i.riostox.com/img/currency/bnty.png');
  background-size: 100% 100%;
}

.bot {
  background: url('https://i.riostox.com/img/currency/bot.png');
  background-size: 100% 100%;
}

.bpl {
  background: url('https://i.riostox.com/img/currency/bpl.png');
  background-size: 100% 100%;
}

.bqx {
  background: url('https://i.riostox.com/img/currency/bqx.png');
  background-size: 100% 100%;
}

.btcz {
  background: url('https://i.riostox.com/img/currency/btcz.png');
  background-size: 100% 100%;
}

.btm {
  background: url('https://i.riostox.com/img/currency/btm.png');
  background-size: 100% 100%;
}

.bts {
  background: url('https://i.riostox.com/img/currency/bts.png');
  background-size: 100% 100%;
}

.btx {
  background: url('https://i.riostox.com/img/currency/btx.png');
  background-size: 100% 100%;
}

.burst {
  background: url('https://i.riostox.com/img/currency/burst.png');
  background-size: 100% 100%;
}

.capp {
  background: url('https://i.riostox.com/img/currency/capp.png');
  background-size: 100% 100%;
}

.cas {
  background: url('https://i.riostox.com/img/currency/cas.png');
  background-size: 100% 100%;
}

.cdt {
  background: url('https://i.riostox.com/img/currency/cdt.png');
  background-size: 100% 100%;
}

.cnn {
  background: url('https://i.riostox.com/img/currency/cnn.png');
  background-size: 100% 100%;
}

.chat {
  background: url('https://i.riostox.com/img/currency/chat.png');
  background-size: 100% 100%;
}

.cic {
  background: url('https://i.riostox.com/img/currency/cic.png');
  background-size: 100% 100%;
}

.cmt {
  background: url('https://i.riostox.com/img/currency/cmt.png');
  background-size: 100% 100%;
}

.cnx {
  background: url('https://i.riostox.com/img/currency/cnx.png');
  background-size: 100% 100%;
}

.cnd {
  background: url('https://i.riostox.com/img/currency/cnd.png');
  background-size: 100% 100%;
}

.cpc {
  background: url('https://i.riostox.com/img/currency/cpc.png');
  background-size: 100% 100%;
}

.cpy {
  background: url('https://i.riostox.com/img/currency/cpy.png');
  background-size: 100% 100%;
}

.cred {
  background: url('https://i.riostox.com/img/currency/cred.png');
  background-size: 100% 100%;
}

.crpt {
  background: url('https://i.riostox.com/img/currency/crpt.png');
  background-size: 100% 100%;
}

.cs {
  background: url('https://i.riostox.com/img/currency/cs.png');
  background-size: 100% 100%;
}

.cte {
  background: url('https://i.riostox.com/img/currency/cte.png');
  background-size: 100% 100%;
}

.ctr {
  background: url('https://i.riostox.com/img/currency/ctr.png');
  background-size: 100% 100%;
}

.cvc {
  background: url('https://i.riostox.com/img/currency/cvc.png');
  background-size: 100% 100%;
}

.dash {
  background: url('https://i.riostox.com/img/currency/dash.png');
  background-size: 100% 100%;
}

.data {
  background: url('https://i.riostox.com/img/currency/data.png');
  background-size: 100% 100%;
}

.dcn {
  background: url('https://i.riostox.com/img/currency/dcn.png');
  background-size: 100% 100%;
}

.dnt {
  background: url('https://i.riostox.com/img/currency/dnt.png');
  background-size: 100% 100%;
}

.dcr {
  background: url('https://i.riostox.com/img/currency/dcr.png');
  background-size: 100% 100%;
}

.dct {
  background: url('https://i.riostox.com/img/currency/dct.png');
  background-size: 100% 100%;
}

.dent {
  background: url('https://i.riostox.com/img/currency/dent.png');
  background-size: 100% 100%;
}

.dgb {
  background: url('https://i.riostox.com/img/currency/dgb.png');
  background-size: 100% 100%;
}

.dgd {
  background: url('https://i.riostox.com/img/currency/dgd.png');
  background-size: 100% 100%;
}

.dlt {
  background: url('https://i.riostox.com/img/currency/dlt.png');
  background-size: 100% 100%;
}

.dnr {
  background: url('https://i.riostox.com/img/currency/dnr.png');
  background-size: 100% 100%;
}

.doge {
  background: url('https://i.riostox.com/img/currency/doge.png');
  background-size: 100% 100%;
}

.dp {
  background: url('https://i.riostox.com/img/currency/dp.png');
  background-size: 100% 100%;
}

.drgn {
  background: url('https://i.riostox.com/img/currency/drgn.png');
  background-size: 100% 100%;
}

.dpy {
  background: url('https://i.riostox.com/img/currency/dpy.png');
  background-size: 100% 100%;
}

.dth {
  background: url('https://i.riostox.com/img/currency/dth.png');
  background-size: 100% 100%;
}

.dtr {
  background: url('https://i.riostox.com/img/currency/dtr.png');
  background-size: 100% 100%;
}

.dyn {
  background: url('https://i.riostox.com/img/currency/dyn.png');
  background-size: 100% 100%;
}

.dxt {
  background: url('https://i.riostox.com/img/currency/dxt.png');
  background-size: 100% 100%;
}

.edo {
  background: url('https://i.riostox.com/img/currency/edo.png');
  background-size: 100% 100%;
}

.elec {
  background: url('https://i.riostox.com/img/currency/elec.png');
  background-size: 100% 100%;
}

.elf {
  background: url('https://i.riostox.com/img/currency/elf.png');
  background-size: 100% 100%;
}

.edg {
  background: url('https://i.riostox.com/img/currency/edg.png');
  background-size: 100% 100%;
}

.emc {
  background: url('https://i.riostox.com/img/currency/emc.png');
  background-size: 100% 100%;
}

.eng {
  background: url('https://i.riostox.com/img/currency/eng.png');
  background-size: 100% 100%;
}

.enj {
  background: url('https://i.riostox.com/img/currency/enj.png');
  background-size: 100% 100%;
}

.eql {
  background: url('https://i.riostox.com/img/currency/eql.png');
  background-size: 100% 100%;
}

.etc {
  background: url('https://i.riostox.com/img/currency/etc.png');
  background-size: 100% 100%;
}

.etn {
  background: url('https://i.riostox.com/img/currency/etn.png');
  background-size: 100% 100%;
}

.exy {
  background: url('https://i.riostox.com/img/currency/exy.png');
  background-size: 100% 100%;
}

.ftc {
  background: url('https://i.riostox.com/img/currency/ftc.png');
  background-size: 100% 100%;
}

.fto {
  background: url('https://i.riostox.com/img/currency/fto.png');
  background-size: 100% 100%;
}

.gas {
  background: url('https://i.riostox.com/img/currency/gas.png');
  background-size: 100% 100%;
}

.gbyte {
  background: url('https://i.riostox.com/img/currency/gbyte.png');
  background-size: 100% 100%;
}

.gusd {
  background: url('https://i.riostox.com/img/currency/gusd.png');
  background-size: 100% 100%;
}

.get {
  background: url('https://i.riostox.com/img/currency/get.png');
  background-size: 100% 100%;
}

.gjc {
  background: url('https://i.riostox.com/img/currency/gjc.png');
  background-size: 100% 100%;
}

.gnx {
  background: url('https://i.riostox.com/img/currency/gnx.png');
  background-size: 100% 100%;
}

.gno {
  background: url('https://i.riostox.com/img/currency/gno.png');
  background-size: 100% 100%;
}

.gnt {
  background: url('https://i.riostox.com/img/currency/gnt.png');
  background-size: 100% 100%;
}

.golos {
  background: url('https://i.riostox.com/img/currency/golos.png');
  background-size: 100% 100%;
}

.grlc {
  background: url('https://i.riostox.com/img/currency/grlc.png');
  background-size: 100% 100%;
}

.gto {
  background: url('https://i.riostox.com/img/currency/gto.png');
  background-size: 100% 100%;
}

.gup {
  background: url('https://i.riostox.com/img/currency/gup.png');
  background-size: 100% 100%;
}

.gvt {
  background: url('https://i.riostox.com/img/currency/gvt.png');
  background-size: 100% 100%;
}

.gxs {
  background: url('https://i.riostox.com/img/currency/gxs.png');
  background-size: 100% 100%;
}

.hpb {
  background: url('https://i.riostox.com/img/currency/hpb.png');
  background-size: 100% 100%;
}

.hsr {
  background: url('https://i.riostox.com/img/currency/hsr.png');
  background-size: 100% 100%;
}

.hot {
  background: url('https://i.riostox.com/img/currency/hot.png');
  background-size: 100% 100%;
}

.ic {
  background: url('https://i.riostox.com/img/currency/ic.png');
  background-size: 100% 100%;
}

.icn {
  background: url('https://i.riostox.com/img/currency/icn.png');
  background-size: 100% 100%;
}

.icx {
  background: url('https://i.riostox.com/img/currency/icx.png');
  background-size: 100% 100%;
}

.inf {
  background: url('https://i.riostox.com/img/currency/inf.png');
  background-size: 100% 100%;
}

.ins {
  background: url('https://i.riostox.com/img/currency/ins.png');
  background-size: 100% 100%;
}

.instar {
  background: url('https://i.riostox.com/img/currency/instar.png');
  background-size: 100% 100%;
}

.iost {
  background: url('https://i.riostox.com/img/currency/iost.png');
  background-size: 100% 100%;
}

.iota {
  background: url('https://i.riostox.com/img/currency/iota.png');
  background-size: 100% 100%;
}

.itc {
  background: url('https://i.riostox.com/img/currency/itc.png');
  background-size: 100% 100%;
}

.jnt {
  background: url('https://i.riostox.com/img/currency/jnt.png');
  background-size: 100% 100%;
}

.kin {
  background: url('https://i.riostox.com/img/currency/kin.png');
  background-size: 100% 100%;
}

.kmd {
  background: url('https://i.riostox.com/img/currency/kmd.png');
  background-size: 100% 100%;
}

.knc {
  background: url('https://i.riostox.com/img/currency/knc.png');
  background-size: 100% 100%;
}

.key {
  background: url('https://i.riostox.com/img/currency/key.png');
  background-size: 100% 100%;
}

.lcc {
  background: url('https://i.riostox.com/img/currency/lcc.png');
  background-size: 100% 100%;
}

.lend {
  background: url('https://i.riostox.com/img/currency/lend.png');
  background-size: 100% 100%;
}

.linda {
  background: url('https://i.riostox.com/img/currency/linda.png');
  background-size: 100% 100%;
}

// .link {
//     background: url('https://i.riostox.com/img/currency/link.png');
//     background-size: 100% 100%;
// }
.lmc {
  background: url('https://i.riostox.com/img/currency/lmc.png');
  background-size: 100% 100%;
}

.lrc {
  background: url('https://i.riostox.com/img/currency/lrc.png');
  background-size: 100% 100%;
}

.lsk {
  background: url('https://i.riostox.com/img/currency/lsk.png');
  background-size: 100% 100%;
}

.lun {
  background: url('https://i.riostox.com/img/currency/lun.png');
  background-size: 100% 100%;
}

.maid {
  background: url('https://i.riostox.com/img/currency/maid.png');
  background-size: 100% 100%;
}

.mana {
  background: url('https://i.riostox.com/img/currency/mana.png');
  background-size: 100% 100%;
}

.mco {
  background: url('https://i.riostox.com/img/currency/mco.png');
  background-size: 100% 100%;
}

.mda {
  background: url('https://i.riostox.com/img/currency/mda.png');
  background-size: 100% 100%;
}

.meta {
  background: url('https://i.riostox.com/img/currency/meta.png');
  background-size: 100% 100%;
}

.med {
  background: url('https://i.riostox.com/img/currency/med.png');
  background-size: 100% 100%;
}

.mee {
  background: url('https://i.riostox.com/img/currency/mee.png');
  background-size: 100% 100%;
}

.mnx {
  background: url('https://i.riostox.com/img/currency/mnx.png');
  background-size: 100% 100%;
}

.mobi {
  background: url('https://i.riostox.com/img/currency/mobi.png');
  background-size: 100% 100%;
}

.mod {
  background: url('https://i.riostox.com/img/currency/mod.png');
  background-size: 100% 100%;
}

.mona {
  background: url('https://i.riostox.com/img/currency/mona.png');
  background-size: 100% 100%;
}

.mtl {
  background: url('https://i.riostox.com/img/currency/mtl.png');
  background-size: 100% 100%;
}

.mtn {
  background: url('https://i.riostox.com/img/currency/mtn.png');
  background-size: 100% 100%;
}

.mue {
  background: url('https://i.riostox.com/img/currency/mue.png');
  background-size: 100% 100%;
}

.nano {
  background: url('https://i.riostox.com/img/currency/nano.png');
  background-size: 100% 100%;
}

.nas {
  background: url('https://i.riostox.com/img/currency/nas.png');
  background-size: 100% 100%;
}

.nav {
  background: url('https://i.riostox.com/img/currency/nav.png');
  background-size: 100% 100%;
}

.ncash {
  background: url('https://i.riostox.com/img/currency/ncash.png');
  background-size: 100% 100%;
}

.nebl {
  background: url('https://i.riostox.com/img/currency/nebl.png');
  background-size: 100% 100%;
}

.nuls {
  background: url('https://i.riostox.com/img/currency/nuls.png');
  background-size: 100% 100%;
}

.neo {
  background: url('https://i.riostox.com/img/currency/neo.png');
  background-size: 100% 100%;
}

.nyc {
  background: url('https://i.riostox.com/img/currency/nyc.png');
  background-size: 100% 100%;
}

.npxs {
  background: url('https://i.riostox.com/img/currency/npxs.jpeg');
  background-size: 100% 100%;
}

.oax {
  background: url('https://i.riostox.com/img/currency/oax.png');
  background-size: 100% 100%;
}

.ocn {
  background: url('https://i.riostox.com/img/currency/ocn.png');
  background-size: 100% 100%;
}

.ont {
  background: url('https://i.riostox.com/img/currency/ont.png');
  background-size: 100% 100%;
}

.omg {
  background: url('https://i.riostox.com/img/currency/omg.png');
  background-size: 100% 100%;
}

.wicc {
  background: url('https://i.riostox.com/img/currency/wicc.jpg');
  background-size: 100% 100%;
}

.ost {
  background: url('https://i.riostox.com/img/currency/ost.png');
  background-size: 100% 100%;
}

.pareto {
  background: url('https://i.riostox.com/img/currency/pareto.png');
  background-size: 100% 100%;
}

.pasc {
  background: url('https://i.riostox.com/img/currency/pasc.png');
  background-size: 100% 100%;
}

.pax {
  background: url('https://i.riostox.com/img/currency/pax.png');
  background-size: 100% 100%;
}

.pay {
  background: url('https://i.riostox.com/img/currency/pay.png');
  background-size: 100% 100%;
}

.pfr {
  background: url('https://i.riostox.com/img/currency/pfr.png');
  background-size: 100% 100%;
}

.pivx {
  background: url('https://i.riostox.com/img/currency/pivx.png');
  background-size: 100% 100%;
}

.plr {
  background: url('https://i.riostox.com/img/currency/plr.png');
  background-size: 100% 100%;
}

.plat {
  background: url('https://i.riostox.com/img/currency/plat.jpeg');
  background-size: 100% 100%;
}

.poa {
  background: url('https://i.riostox.com/img/currency/poa.png');
  background-size: 100% 100%;
}

.poe {
  background: url('https://i.riostox.com/img/currency/poe.png');
  background-size: 100% 100%;
}

.poll {
  background: url('https://i.riostox.com/img/currency/poll.png');
  background-size: 100% 100%;
}

.powr {
  background: url('https://i.riostox.com/img/currency/powr.png');
  background-size: 100% 100%;
}

.ppp {
  background: url('https://i.riostox.com/img/currency/ppp.png');
  background-size: 100% 100%;
}

.ppt {
  background: url('https://i.riostox.com/img/currency/ppt.png');
  background-size: 100% 100%;
}

.prl {
  background: url('https://i.riostox.com/img/currency/prl.png');
  background-size: 100% 100%;
}

.ptoy {
  background: url('https://i.riostox.com/img/currency/ptoy.png');
  background-size: 100% 100%;
}

.pxs {
  background: url('https://i.riostox.com/img/currency/pxs.png');
  background-size: 100% 100%;
}

.qash {
  background: url('https://i.riostox.com/img/currency/qash.png');
  background-size: 100% 100%;
}

.qlc {
  background: url('https://i.riostox.com/img/currency/qlc.png');
  background-size: 100% 100%;
}

.qsp {
  background: url('https://i.riostox.com/img/currency/qsp.png');
  background-size: 100% 100%;
}

.r {
  background: url('https://i.riostox.com/img/currency/r.png');
  background-size: 100% 100%;
}

.rte {
  background: url('https://i.riostox.com/img/currency/rte.png');
  background-size: 100% 100%;
}

.rcn {
  background: url('https://i.riostox.com/img/currency/rcn.png');
  background-size: 100% 100%;
}

.rct {
  background: url('https://i.riostox.com/img/currency/rct.png');
  background-size: 100% 100%;
}

.rdd {
  background: url('https://i.riostox.com/img/currency/rdd.png');
  background-size: 100% 100%;
}

.rdn {
  background: url('https://i.riostox.com/img/currency/rdn.png');
  background-size: 100% 100%;
}

.rem {
  background: url('https://i.riostox.com/img/currency/rem.png');
  background-size: 100% 100%;
}

.rep {
  background: url('https://i.riostox.com/img/currency/rep.png');
  background-size: 100% 100%;
}

.req {
  background: url('https://i.riostox.com/img/currency/req.png');
  background-size: 100% 100%;
}

.rhoc {
  background: url('https://i.riostox.com/img/currency/rhoc.png');
  background-size: 100% 100%;
}

.rlc {
  background: url('https://i.riostox.com/img/currency/rlc.png');
  background-size: 100% 100%;
}

.rpx {
  background: url('https://i.riostox.com/img/currency/rpx.png');
  background-size: 100% 100%;
}

.ruff {
  background: url('https://i.riostox.com/img/currency/ruff.png');
  background-size: 100% 100%;
}

.rvn {
  background: url('https://i.riostox.com/img/currency/rvn.png');
  background-size: 100% 100%;
}

.rvt {
  background: url('https://i.riostox.com/img/currency/rvt.png');
  background-size: 100% 100%;
}

.ryz {
  background: url('https://i.riostox.com/img/currency/ryz.png');
  background-size: 100% 100%;
}

.salt {
  background: url('https://i.riostox.com/img/currency/salt.png');
  background-size: 100% 100%;
}

.san {
  background: url('https://i.riostox.com/img/currency/san.png');
  background-size: 100% 100%;
}

.sbtc {
  background: url('https://i.riostox.com/img/currency/sbtc.png');
  background-size: 100% 100%;
}

.shift {
  background: url('https://i.riostox.com/img/currency/shift.png');
  background-size: 100% 100%;
}

.sky {
  background: url('https://i.riostox.com/img/currency/sky.png');
  background-size: 100% 100%;
}

.smart {
  background: url('https://i.riostox.com/img/currency/smart.png');
  background-size: 100% 100%;
}

.snm {
  background: url('https://i.riostox.com/img/currency/snm.png');
  background-size: 100% 100%;
}

.snt {
  background: url('https://i.riostox.com/img/currency/snt.png');
  background-size: 100% 100%;
}

.soc {
  background: url('https://i.riostox.com/img/currency/soc.png');
  background-size: 100% 100%;
}

.spc {
  background: url('https://i.riostox.com/img/currency/spc.png');
  background-size: 100% 100%;
}

.sphr {
  background: url('https://i.riostox.com/img/currency/sphr.png');
  background-size: 100% 100%;
}

.sphtx {
  background: url('https://i.riostox.com/img/currency/sphtx.png');
  background-size: 100% 100%;
}

.srn {
  background: url('https://i.riostox.com/img/currency/srn.png');
  background-size: 100% 100%;
}

.steem {
  background: url('https://i.riostox.com/img/currency/steem.png');
  background-size: 100% 100%;
}

.storj {
  background: url('https://i.riostox.com/img/currency/storj.png');
  background-size: 100% 100%;
}

.storm {
  background: url('https://i.riostox.com/img/currency/storm.png');
  background-size: 100% 100%;
}

.stq {
  background: url('https://i.riostox.com/img/currency/stq.png');
  background-size: 100% 100%;
}

.strat {
  background: url('https://i.riostox.com/img/currency/strat.png');
  background-size: 100% 100%;
}

.sub {
  background: url('https://i.riostox.com/img/currency/sub.png');
  background-size: 100% 100%;
}

.taas {
  background: url('https://i.riostox.com/img/currency/taas.png');
  background-size: 100% 100%;
}

.ttu {
  background: url('https://i.riostox.com/img/currency/tatatu.png');
  background-size: 100% 100%;
}

.tel {
  background: url('https://i.riostox.com/img/currency/tel.png');
  background-size: 100% 100%;
}

.theta {
  background: url('https://i.riostox.com/img/currency/theta.png');
  background-size: 100% 100%;
}

.tio {
  background: url('https://i.riostox.com/img/currency/tio.png');
  background-size: 100% 100%;
}

.tky {
  background: url('https://i.riostox.com/img/currency/tky.png');
  background-size: 100% 100%;
}

.tnb {
  background: url('https://i.riostox.com/img/currency/tnb.png');
  background-size: 100% 100%;
}

.tnt {
  background: url('https://i.riostox.com/img/currency/tnt.png');
  background-size: 100% 100%;
}

.tomo {
  background: url('https://i.riostox.com/img/currency/tomo.png');
  background-size: 100% 100%;
}

.trac {
  background: url('https://i.riostox.com/img/currency/trac.png');
  background-size: 100% 100%;
}

.trig {
  background: url('https://i.riostox.com/img/currency/trig.png');
  background-size: 100% 100%;
}

.trio {
  background: url('https://i.riostox.com/img/currency/trio.png');
  background-size: 100% 100%;
}

.trx {
  background: url('https://i.riostox.com/img/currency/trx.png');
  background-size: 100% 100%;
}

.tx {
  background: url('https://i.riostox.com/img/currency/tx.png');
  background-size: 100% 100%;
}

.ubq {
  background: url('https://i.riostox.com/img/currency/ubq.png');
  background-size: 100% 100%;
}

.ubtc {
  background: url('https://i.riostox.com/img/currency/ubtc.png');
  background-size: 100% 100%;
}

.uip {
  background: url('https://i.riostox.com/img/currency/uip.png');
  background-size: 100% 100%;
}

.unb {
  background: url('https://i.riostox.com/img/currency/unb.png');
  background-size: 100% 100%;
}

.untp {
  background: url('https://i.riostox.com/img/currency/untp.png');
  background-size: 100% 100%;
}

.ven {
  background: url('https://i.riostox.com/img/currency/ven.png');
  background-size: 100% 100%;
}

.veri {
  background: url('https://i.riostox.com/img/currency/veri.png');
  background-size: 100% 100%;
}

.vibe {
  background: url('https://i.riostox.com/img/currency/vibe.png');
  background-size: 100% 100%;
}

.voise {
  background: url('https://i.riostox.com/img/currency/voise.png');
  background-size: 100% 100%;
}

.vtc {
  background: url('https://i.riostox.com/img/currency/vtc.png');
  background-size: 100% 100%;
}

.wabi {
  background: url('https://i.riostox.com/img/currency/wabi.png');
  background-size: 100% 100%;
}

.wan {
  background: url('https://i.riostox.com/img/currency/wan.png');
  background-size: 100% 100%;
}

.waves {
  background: url('https://i.riostox.com/img/currency/waves.png');
  background-size: 100% 100%;
}

.wax {
  background: url('https://i.riostox.com/img/currency/wax.png');
  background-size: 100% 100%;
}

.wings {
  background: url('https://i.riostox.com/img/currency/wings.png');
  background-size: 100% 100%;
}

.wish {
  background: url('https://i.riostox.com/img/currency/wish.png');
  background-size: 100% 100%;
}

.wpr {
  background: url('https://i.riostox.com/img/currency/wpr.png');
  background-size: 100% 100%;
}

.wrc {
  background: url('https://i.riostox.com/img/currency/wrc.png');
  background-size: 100% 100%;
}

.xas {
  background: url('https://i.riostox.com/img/currency/xas.png');
  background-size: 100% 100%;
}

.xmx {
  background: url('https://i.riostox.com/img/currency/xmx.png');
  background-size: 100% 100%;
}

.xem {
  background: url('https://i.riostox.com/img/currency/xem.png');
  background-size: 100% 100%;
}

.xin {
  background: url('https://i.riostox.com/img/currency/xin.png');
  background-size: 100% 100%;
}

.xlm {
  background: url('https://i.riostox.com/img/currency/xlm.png');
  background-size: 100% 100%;
}

.xmr {
  background: url('https://i.riostox.com/img/currency/xmr.png');
  background-size: 100% 100%;
}

.xmy {
  background: url('https://i.riostox.com/img/currency/xmy.png');
  background-size: 100% 100%;
}

.xp {
  background: url('https://i.riostox.com/img/currency/xp.png');
  background-size: 100% 100%;
}

.xpa {
  background: url('https://i.riostox.com/img/currency/xpa.png');
  background-size: 100% 100%;
}

.xvg {
  background: url('https://i.riostox.com/img/currency/xvg.png');
  background-size: 100% 100%;
}

.xzc {
  background: url('https://i.riostox.com/img/currency/xzc.png');
  background-size: 100% 100%;
}

.yee {
  background: url('https://i.riostox.com/img/currency/yee.png');
  background-size: 100% 100%;
}

.yoyo {
  background: url('https://i.riostox.com/img/currency/yoyo.png');
  background-size: 100% 100%;
}

.zec {
  background: url('https://i.riostox.com/img/currency/zec.png');
  background-size: 100% 100%;
}

.zen {
  background: url('https://i.riostox.com/img/currency/zen.png');
  background-size: 100% 100%;
}

.zil {
  background: url('https://i.riostox.com/img/currency/zil.png');
  background-size: 100% 100%;
}

.zrx {
  background: url('https://i.riostox.com/img/currency/zrx.png');
  background-size: 100% 100%;
}
.luc {
  background: url('https://i.riostox.com/img/currency/luc.png');
  background-size: 100% 100%;
}
.tns {
  background: url('https://i.riostox.com/img/currency/tns.png');
  background-size: 100% 100%;
}
.vikky {
  background: url('https://i.riostox.com/img/currency/vikky.png');
  background-size: 100% 100%;
}
.kwatt {
  background: url('https://i.riostox.com/img/currency/kwatt.jpg');
  background-size: 100% 100%;
}
.poly {
  background: url('https://i.riostox.com/img/currency/poly.png');
  background-size: 100% 100%;
}
.nfc {
  background: url('https://i.riostox.com/img/currency/nfc.png');
  background-size: 100% 100%;
}
.trx {
  background: url('https://i.riostox.com/img/currency/trx.png');
  background-size: 100% 100%;
}
.bchabc {
  background: url('https://i.riostox.com/img/currency/bchabc.jpeg');
  background-size: 100% 100%;
}
.bchsv {
  background: url('https://i.riostox.com/img/currency/bchsv.jpeg');
  background-size: 100% 100%;
}
.lba {
  background: url('https://i.riostox.com/img/currency/lba.jpg');
  background-size: 100% 100%;
}
.hydro {
  background: url('https://i.riostox.com/img/currency/hydro.png');
  background-size: 100% 100%;
}
